@import "reset.css";
@import "all.css";
@import "fontawesome.css";
html{
    font-size:10px;
}
.flexbox{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;  
}
.container{
    margin:0 auto;
    max-width:1440px;
    padding:0 2rem;
}
.smaller-container{
    margin:0 auto;
    max-width:1140px;
    padding:0 2rem; 
}
.header-section{
    text-align:center;
    margin:11rem 0 5rem 0;
}
.header-section img{
    width:85px;
    height:auto;
    margin-right:2rem;
}
.header-section p{
    margin:0.7rem 0;
    margin-right:1.2rem;
}
.header-section p a{
    font-size:1.3rem;
    color:#999;
    transition:all 0.4s;
}
.header-section p a:hover{
    color:#000;
}
#header .top-header{
    border-bottom: 1px solid #f6f6f6;
}
#header .top-header .right ul li{
    border-left: 1px solid #f6f6f6;
    padding:20px 28px;
}
#header .top-header .right ul li a{
    color:#999;
    font-size:1.4rem;
    transition:all 0.5s;
}
#header .top-header .right ul li a:hover{
    color:#000;
}
#header .top-header .right ul li span:nth-child(2){
    color:#000;
    border:2px solid #000;
    padding:2px 9px;
    margin-left:1.5rem;
    font-weight:600;
}
#header .top-header .left ul li{
    border-right: 1px solid #f6f6f6;
    padding:2rem 3.7rem;
}
#header .top-header .left ul li a{
    color:#999;
    font-size:1.4rem;
    transition:all 0.5s;
}
#header .top-header .left ul li a:hover{
    color:#000;
}
#header .bottom-header{
    padding:4.2rem 7.7rem;
    align-items:flex-end;
    box-shadow: 0 2px 6px #0000000d;
    z-index:2;
    position:relative;
}
#header .bottom-header .logo img{
    width:170px;
    height:auto;
}
#header .bottom-header .menu{
    margin-right:16rem;
}
#header .bottom-header .menu ul li a{
    color:#999;
    font-size:1.6rem;
    padding:3rem;
    transition:all 0.5s;
}
#header .bottom-header .menu ul li a:hover{
    color:#000;
}
#header .bottom-header .menu ul li a span{
    margin-right:0.7rem;
}
#header .bottom-header .search{
    margin-right:1.8rem;
}
#header .bottom-header .search a{
    font-size:1.5rem;
    color:black;
}
#hero-section{
    position:relative;
    padding:8.5rem 0 10rem 0;
}
#hero-section:after{
    background-color:#f6f6f6;
    width:100%;
    height:50%;
    content:"";
    position:absolute;
    top:0;
    left:0;
}
#hero-section .slider{
    z-index:2;
    position:absolute;
}
#hero-section .slider a{
    background-color:#fff;
    padding:1.8rem 2.1rem;
    color:#999;
    font-size: 1.3rem;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
}
#hero-section .left-slider{
    left:1.8rem;
    top:50%;
    transform:translateY(-50%);
}
#hero-section .right-slider{
    right:1.8rem;
    top:50%;
    transform:translateY(-50%);
}
#hero-section ul li img{
    z-index:2;
    position:relative;
    margin-bottom:3.4rem;
}
#hero-section ul li .content{
    text-align:center;
    margin-right:1.5rem;
}
#hero-section ul li .content .title{
    font-size:1.75rem;
    margin:0 0 0.8rem 0;
    color:#000;
}
#hero-section ul li .content .title:hover{
    color:#666;
}
#hero-section ul li .content .price{
    font-size:1.6rem;
    color:#999;
    font-weight:700;
    margin:0 0 1.2rem 0;
}
#hero-section ul li .content .stars{
    justify-content:center;
    gap:6px;
}
#hero-section ul li .content .stars li a{
    color:#c6c6c6;
}
#hero-section ul li .content .stars li a:hover{
    color:yellow;
}
#third-section{
    position:relative;
}
#third-section ul{
    justify-content: center;
}
#third-section .pre-next{
    z-index:6;
    position:absolute;
}
#third-section .pre-next a{
    color:#fff;
    font-size: 2.5rem;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
    display:none;
}
#third-section ul:hover .pre-next a{
    display:block;
}
#third-section .left-slider{
    left:2.3rem;
    top:50%;
    transform:translateY(-50%);
}
#third-section .right-slider{
    right:2.3rem;
    top:50%;
    transform:translateY(-50%);
}
#third-section .flexbox li{
    width:33.33%;
    position:relative;
}
#third-section .flexbox li:after{
    content:"";
    position:absolute;
    background: rgba(0,0,0,.4);
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#third-section ul li a img{
    width:100%;
    height:auto;
}
#third-section ul li a .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    z-index:4;
    color:#fff;
    text-align:center;
}
#third-section ul li a .content h1{
    font-weight:700;
    font-size: 2.5rem;
}
#third-section ul li a .content .hidden p{
    display:none;
    /* transition:all 1s; */
}
#third-section ul li:hover a .content .hidden p{
    display:block;
    color:#cdcdcd;
    font-size:1.4rem;
}
#third-section ul li a .content .shop-now{
    border:solid 2px #fff;
    font-size:1.8rem;
    font-weight:400;
    padding:0.7rem 1.3rem;
    margin-top:2rem;
    transition:all 0.5s;
}
#third-section ul li a .content .shop-now:hover{
    color:#000;
    background-color: #fff;
}
#fourth-section ul{
    justify-content:center;
}
#fourth-section ul li{
    width:380px;
    height:auto;
    padding:0 10px 30px 10px;
}
#fourth-section ul li .right{
    padding-left:25px;
}
#fourth-section ul li .right .title{
    color:#000;
    font-size:2rem;
}
#fourth-section ul li .right .title:hover{
    color:#333;
}
#fourth-section ul li .right .price{
    color:#000;
    font-size:1.5rem;
    font-weight:600;
}
#fourth-section ul li .right .stars{
    justify-content:flex-start;
}
#fourth-section ul li .right .stars span{
    margin-right:5px;
}
#fourth-section ul li .right .stars span a{
    color:#c6c6c6;
}
#fourth-section ul li .right .stars span a:hover{
    color:yellow;
}
#fourth-section ul li .left{
    width:45%;
}
#fourth-section ul li .right{
    width:55%;
}
#fourth-section ul li .left img{
    width:100%;
    height:auto;
}
#fifth-section ul li{
    width:379.8px;
    position:relative;
}
#fifth-section ul li:hover:after{
    content:"";
    position:absolute;
    background: rgba(0,0,0,.5);
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#fifth-section ul li a img{
    width:100%;
    height:100%;
}
#fifth-section ul li .content{
    visibility: hidden;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    z-index:4;
    color:#fff;
    text-align:center;
}
#fifth-section ul li:hover .content{
    visibility: visible;
}
#fifth-section ul li .content a{
    transition:all 0.3s;
    color:#fff;
    font-size:14px;
}
#fifth-section ul li .content p.price{
    color:#fff;
    transition:all 0.5s;
    font-size:14px;
    font-weight:500;
}
#sixth-section .top .left{
    width:716.33px;
}
#sixth-section .top .left h1{
    background-image:url("../images/background.webp");
    background-size:cover;
    height:318px;
    background-position: center 550px;
    color:#fff;
    font-size:20px;
    padding:58px 0 0 30px;
    margin:0;
}
#sixth-section .top .right{
    padding:55px 33px;
    border:2px solid #dddddd;
    text-align:center;
    width:356px;
}
#sixth-section .top .right p{
    color:#666;
    margin:4rem 0 3rem 0;
    font-size:1.7rem;
}
#sixth-section .top .right form{
    margin:0;
    position:relative;
}
#sixth-section .top .right form input{
    font-size:1.4rem;
    padding:10px 70px 10px 15px;
    color:#666;
    border:2px solid #ebebeb;
}
#sixth-section .top .right form button{
    border:none;
    background: none;
    position:absolute;
    top:50%;
    right:25px;
    transform:translateY(-50%);
    color:#666;
}
#sixth-section .center{
    margin-top:5rem;
}
#sixth-section .center ul li{
    width:356.66px;
}
#sixth-section .center ul li:nth-child(1) , #sixth-section .center ul li:nth-child(2){
    padding-right:14px;
}
#sixth-section .center ul li img{
    width:100%;
    height:342.65px;
}
#sixth-section .bottom{
    margin:12rem 0 9rem 0;
}
#seventh-section{
    background-color:#f6f6f6;
    padding:85px 0;
}
#seventh-section li{
    padding:44px 160px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
    background-color:#fff;
    overflow:hidden;
    text-align:center;
    position:relative;
    width:539.78px;
    height:150.3px;
}
#seventh-section li h1{
    color:#000;
    font-size:2.5rem;
    letter-spacing:0.2rem;
    position:absolute;
    transition:all .2s;
    transform:translateY(0);
}
#seventh-section li:hover h1{
    transform:translate(0,-100%);
    /* I literally have no clue what I'm doing */
    bottom:-105px;
}
#seventh-section ul li p{
    color:#999;
    font-size:16px;
    margin-bottom:3rem;
    position:absolute;
    top:-35px;
    left:200px;
    transition:all 0.3s;
}
#seventh-section ul li:hover p{
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
}
#footer{
    padding-bottom:60px;
}
#footer .left{
    width:67%;
    padding:82px 80px 40px 80px;
}
#footer .left .list{
   width:30%;
}
#footer .left .box2{
    margin-left:-5rem;
}
#footer .left .box3{
    width:40%;
}
#footer .left .box h1{
    letter-spacing:0.2rem;
    color:#000;
    margin-bottom:35px;
    font-weight:600;
}
#footer .left .list h3{
    color:#666;
    margin:2rem 0;
    font-size:1.6rem;
    font-weight:100
}
#footer .left .list h3:hover{
    color:#333;
}
#footer .left form{
    margin-bottom:6rem;
    position:relative;
}
#footer .left form input{
    font-size:1.4rem;
    padding:10px 150px 10px 0;
    color:#666;
    border:none;
    border-bottom:2px solid #000;
}
#footer .left form button{
    border:none;
    background: none;
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    color:#666;
}
#footer .left .icons{
    margin-bottom:3rem;
}
#footer .left .icons li{
    display:inline-block;
}
#footer .left .icons li a{
    color:#000;
    padding-right:42px;
    font-size:1.3rem;
}
#footer .left .icons li a:hover{
    color:#333;
}
#footer .left p.big{
    text-align:center;
    color:#666;
    font-size:1.5rem;
    letter-spacing:0.1rem;
}
#footer .left p.big span{
    color:#333;
}
#footer .left p.small{
    text-align:center;
    color:#333;
    font-size:1.3rem;
    letter-spacing:0.1rem;
}
#footer .right{
    width:33%;
    overflow: hidden;
}
#footer .right .content{
    width:100%;
    transform: scale(1.25);
    background-image:url("../images/the-story.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height:406px;
    padding: 85px 106px;
    color: #fff;
    line-height:2.5rem;
    letter-spacing:0.1rem;
}
#footer .right .content h1{
    font-size:1.7rem;
}
#footer .right .content p{
    font-size:1.2rem;
    visibility:hidden;
    /* transition:all 1s; */
}
#footer .right:hover .content p{
    visibility:visible;
}